.qty_btn{
    width: 8rem;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 1rem;
}





.qty_btn svg{
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}