.mobile_navbar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;    
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    transition: 0.35s ease-in-out;
}

.mobile_navbar_header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: aliceblue;
}

.mobile_navbar_header svg{
    font-size: 1.9rem;
    cursor: pointer;
}

.mobile_navbar_menu{
    height: 100%;
}

.mobile_navbar_menu ul li{
    padding: 1rem 2rem;
}

.open{
    transform: translateX(0);
    width: 22rem;
}
