
footer{
    background: #022145;
    padding-top: 2rem;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
}
.footer__container > div ul a{
    font-size: 1rem;
    color: #ccc6c6;;
    text-transform: capitalize;
}
.footer__container > div ul a:hover{
    color: #0066b2;
}
.footer__container > div h4{
    padding-bottom: 0.5rem;
    color: #fff;
    text-transform: uppercase;
}
.footer__container > div p{
    color: white;
}
.footer__container > div ul li{
    line-height: 2rem;
}

footer .copyright{
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 1px solid;
}
footer .copyright p{
    color: #fff;
}
footer .icons > i{
    color: white;
    padding: 0 0.2rem;
}

footer .icons > i:hover{
    color: #0066b2;
}


@media (max-width: px) {
    footer .footer__container {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
   }
@media (max-width: 768px) {
    footer .footer__container {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
   }

@media (max-width: 576px) {
    footer .footer__container {
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }
   
}