.cart_header {
    border-bottom: 1px solid;
    display: grid;
    gap: 9rem;
    padding-bottom: 1rem;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;

}

.Cart{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 80vh;
    margin-top: 2rem;
    position: relative;
}
.cart_item{
    display: grid;
    gap: 9rem;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1rem;
    align-items: center;
    text-align: center;

    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: .4rem;
}

.cart_header > p {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

}

.cart_item div > p{
    color: #1d1a1a;
} 



.cart_img > figure{
    width: 3.5rem;
}

.cart_remove > svg{
    font-size: 1.7rem;
    color: #0f3c72;
    cursor: pointer;
}

.cart_sammary{
    width: 18rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #e3f0ff;
}

.cart_sammary > .total {
    margin: 1rem 0;
    border-top: .1rem solid;
    padding: 1rem 0;
    border-bottom: .1rem solid;
}

.cart_sammary  .total > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.summery_container{
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}


@media (max-width: 1024px){
    .cart_header{
        gap: 6rem;
    }
    .cart_item{
        gap: 6rem;
    }
}
@media (max-width: 768px){
    .cart_header{
        gap: 2rem;
    }
    .cart_header p{
        font-size: .9rem;
    }
    .cart_item{
        gap: 2rem;
    }

    .cart_sammary h3{
        font-size: 1.2rem;

    }

    .cart_sammary .total > div p{
        font-size: .9rem;
    }
}
@media (max-width: 576px){
    .cart_header{
        gap: .5rem;
    }
    .cart_header p{
        font-size: .8rem;
    }
    .cart_item{
        gap: .5rem;
    }
    .summery_container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    
}